.voice-container {
   /*margin: 20px auto;
   width: 200px;
   height: 50px;
   padding: 20px;
   border: 1px solid #ccc;
   border-radius: 30px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   text-align: center;
   background-color: #fff;
   animation: fadeIn 0.5s ease-in-out;
   */margin: 20px auto;
   width: 300px;
   min-height: 40px;
   height: auto;
   border: 1px solid #ccc;
   background-color: #fff;
   box-shadow: 0 10px 10px rgba(0, 3, 0, 0.21);
   animation: fadeIn 0.5s ease-in-out;
   border-radius:30px ;
   -webkit-border-radius:30px ;
   -moz-border-radius:30px ;
   -ms-border-radius:30px ;
   -o-border-radius:30px ;
}

.material-symbols-outlined:hover{
  color: rgb(24, 22, 22);
}
button {
    padding: 8px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    border-radius: 10px;
    -webkit-transition: background-color 0.3s, transform 0.2s;
    -moz-transition: background-color 0.3s, transform 0.2s;
    -ms-transition: background-color 0.3s, transform 0.2s;
    -o-transition: background-color 0.3s, transform 0.2s;
}

button:hover {
    transform: scale(1.05);
}

.start-btn {
    background-color: #007bff;
    color: #fff;
}

.stop-btn {
    background-color: #dc3545;
    color: #fff;
    margin-left: 10px;
}
.chart-btn{
    color: #fff;
    margin-left: 10px;
    background-color: cadetblue;


}
.display-box {
    margin-top: 20px;
    height: auto;
    background-color: #676262;

    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f8f9fa;
    animation: fadeIn 1s ease-in-out;
    margin-bottom: 100px;

}
/* voicetotext.component.css */

  

.display-box p {
    font-size: 18px;
    margin: 0;
    opacity: 0;
    animation: textAppear 1s forwards;
}
/*.hover-active{
    background-color: lightgrey;
}*/

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes textAppear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

body {
    display: flex;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    overflow: hidden;
  }
  
  .sidebar-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    background-color: #333;
    padding: 20px;
    color: white;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  
  .sidebar-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    flex-grow: 1;
  }
  
  .sidebar-nav li {
    margin-bottom: 20px;
  }
  
  .sidebar-nav a {
    font-size: larger;
    text-decoration: none;
    color: white;
    display: block;
    padding: 10px;
    border-radius: 4px;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .sidebar-nav a:hover {
    background-color: #555;
    color: #f0f0f0;
  }
  
  .content {
    margin-left: 200px;
    flex-grow: 1;
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto;
  }
  .color{
    background-color: #dc3545;
  }
  